<a href=/produce_items>Produce Items</a>
<a href=/farmers_market_stands>Farmers Market Stands</a>
<h1>Farmers Market Stands</h1>
<% @farmers_market_stands.each do |stand| %>
  <h3><%= stand.name %></h3>

<% end %>

<%= link_to "New Farmers Market Stand", 'farmers_market_stands/new', :method => :post %>
